<%= component do %>
  <%= breadcrumbs %>

  <header>
    <%= back_button %>

    <hgroup>
      <%= title %>
      <%= subheading %>
    </hgroup>

    <nav>
      <%= actions %>
    </nav>
  </header>

  <%= yield if block_given? %>
<% end %>
