<%= component do %>
  <%= cover %>

  <% if has_title? || has_extra? %>
    <header class="ui-card__header">
      <%= title %>
      <%= extra %>
    </header>
  <% end %>

  <section class="ui-card__content">
    <%= yield %>
  </section>

  <%= card_actions %>
<% end %>
