<%= component do %>
  <%= notification_icon %>

  <section class="ui-notification__content">
    <%= content %>

    <% if actions? %>
      <nav class="ui-notification__actions">
        <%= actions %>
      </nav>
    <% end %>

    <%= close_notification_link %>
  </section>
<% end %>
