<%= component(:article) do %>
  <header data-action="click->collapsable#toggle" class="ui-collapse-panel__header">
    <%= collapse_icon %>
    <%= header %>
    <%= actions %>
  </header>

  <section data-collapsable-target="content" class="ui-collapse-panel__content">
    <%= content %>
  </section>
<% end %>
